@import "tailwindcss";

body {
    font-family: "Basic", sans-serif;
    font-style: normal;
    background-color: #e8e8f0;
}

.bg-pink-primary {
    background-color: #bc34f4;
}

.bg-pink-secondary {
    background-color: #e514fc;
}

.bg-blue-primary {
    background-color: #469fe7;
}

.bg-blue-secondary {
    background-color: #36ade4;
}

.pink-secondary {
    color: #e514fc;
}

.pink-primary {
    color: #bc34f4;
}

.color-medium {
    color: #6e7bec;
}

.blue-secondary {
    color: #36ade4
}

.blue-primary {
    color: #469fe7
}